* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    background-color: #DAF0FF;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    border-radius: 39px;
    width: 375px;
    height: 568px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "header header header header"
    ". . . . "
    ". . . ."
    ". . . ."
    ". . . equacao"
    "zero zero . equacao";
    padding: 20px;
}

.calculadora 
{
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
}

p {
    font-size: 48px;
    grid-area: header;
    text-align: right;
    display: grid;
    align-items: end;
}

button {
    font-size: 24px;
    border-radius: 16px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.black-button {
    background: #303136;
}

.blue-button {
    background: #005DB2;
}

.equal-button {
    background: #1991FF;
    grid-area: equacao;
}

.gray-button {
    background: #616161;
}

.zero 
{
    grid-area: zero;
}